streamlit==1.30.0
langchain
langchain-experimental
sentence-transformers
faiss-cpu
langchain-google-vertexai
google-cloud-aiplatform==1.55.0
google-auth
langchain-groq
langchain-huggingface
python-dotenv
protobuf==3.20.3
google-genai>=1.0.0